
.post {
    margin: 0;
    padding: 0;
    min-height: 250px;
    & .group {
        display: grid;
        grid-template-columns: 30% 70%;
        /* grid-template-columns: 80px 1fr; */
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 10px;
        height: 90px;
        margin-bottom: 35px;
        border-radius: 8px;
        & .info {
            & h2 {
                font-size: 1rem;
            }
            & h3 {
                font-size: 1rem;
            }
        }
        & .foto {
            & img {
                width: 70%;
                height: max-content;
                margin: 5px;
                border: 1px solid var(--grisclaro);
            }
            & .post-date {
                margin-bottom: 0px;
            }
        }
    }
}