<div class="offcanvas offcanvas-bottom rounded-top-5 h-75" tabindex="-1" [attr.id]="'view-doc-'+cat.name_category"
    style="height: auto; max-height: 60vh; border-radius: 25px 25px 0 0;">
    <div class="offcanvas-header border-bottom py-3">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-folder-open"></i>
            {{'Category'|translate}}: {{cat.name_category}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body p-4">
        <ng-container *ngFor="let FILE of user_filesfiltered;let i = index">

            <div class="itemlist">
                <div class="d-flex flex-stack mb-3" *ngIf="!document_selected">
                    <div class="me-3">
                        <a [routerLink]="['/profile/documents/file', FILE.id]">
                            <img *ngIf="FILE.type ==='pdf'|| FILE.type ==='doc' || 
                                                                                FILE.type ==='docx'"
                                src="assets/svg/doc.svg" class="w-50px ms-n1 me-1 filesvg" alt="">
                            <img *ngIf="FILE.type ==='jpg' || FILE.type ==='jpeg'" src="assets/svg/jpg.svg"
                                class="w-50px ms-n1 me-1 filesvg" alt="">
                            <img *ngIf="FILE.type ==='png'" src="assets/svg/png.svg" class="w-50px ms-n1 me-1 filesvg"
                                alt="">
                        </a>
                    </div>
                </div>
                <div class="info_itemlist" *ngIf="!document_selected">
                    <a [routerLink]="['/profile/documents/file', FILE.id]"
                        class="text-gray-800 text-hover-primary fw-bolder">{{FILE.name_file
                        | slice:0:10}}... .{{FILE.type}}</a>

                    <span class="text-gray-400 fw-bolder">{{'Category'|translate}}:
                        <a href="javascript:void(0);" onclick="return false;"
                            class="text-gray-800 text-hover-primary fw-bolder">{{FILE.name_category}}</a></span>
                    <span class="text-gray-400 fw-bolder">{{'formulario.Size'|translate}}:
                        <a href="javascript:void(0);" onclick="return false;"
                            class="text-gray-800 text-hover-primary fw-bolder">{{FILE.size}}
                        </a></span>

                </div>
                <div class="buttons" *ngIf="!document_selected">
                    <button class="btn btn-danger btn-sm" (click)="deleteFile(FILE.id)">x</button>
                    <button class="btn btn-success btn-sm" (click)="solicitudSelected(FILE.id)">Share</button>

                </div>

                <div class="share__options" *ngIf="document_selected === FILE.id">
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="share">
                        <option *ngFor="let document of clientes" [value]="document.usuario.email">
                            {{document.usuario.username}}
                        </option>
                    </select>
                    <button class="btn btn-primary btn-sm" (click)="onShareIt(document_selected)">
                        >
                        Share
                    </button>
                    <button class="btn btn-primary btn-sm" (click)="document_selected = null">
                        {{'Back'|translate}}
                    </button>
                </div>

            </div>
        </ng-container>
    </div>

</div>