<app-header></app-header>
<section class="user home">
   <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9">
          <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
          <app-loading *ngIf="isLoading" [loadingTitle]="loadingTitle"></app-loading>
          <div class=" itemFav shadow animated fadeInUp" *ngIf="!isLoading">
            <div class="fototext">
              <img [src]="(profile.img || '')  | imagenPipe: 'profiles' " alt="">
              <div class="div1">
                <p>{{'Username'|translate}}: {{user.username}}</p>
                <p *ngIf="profile">{{profile.first_name}} {{profile.last_name}}</p>
                <p>{{user.email}}</p>
                <span class="badge  bg-primary" *ngIf="profile.status === 'PENDING'"> {{'Pending'|translate}}</span>
                <span class="badge bg-success" *ngIf="profile.status === 'VERIFIED'">{{'Verified'|translate}}</span>
                <span class="badge bg-danger" *ngIf="profile.status === 'REVIEW'">{{'For Review'|translate}}</span>
                <br>
                <app-redessociales [redessociales]="redessociales"></app-redessociales>
    
              </div>
            </div>
           
            <div class="admin-services">
              <a [routerLink]="['/profile/edit', user.uid]">
                <div class="option-admin shadow-sm">
                  <i class="fa fa-user"></i>
                  <p>{{'Edit Profile'|translate}}</p>
                </div>
              </a>
              
              <a routerLink="/mis-pagos" >
              <div class="option-admin shadow-sm">
                <i class="fa fa-money"></i>
                <p>Mis Pagos</p>
              </div>
              </a>
              <!-- <a routerLink="/notificaciones" >
                <div class="option-admin shadow-sm">
                  <i class="fa fa-bell"></i>
                  <p>Notificaciones</p>
                </div>

              </a> -->
            </div>
            <br>
            <div class="opciones">
            <!-- configurar notificaciones push -->
            <div class="setting-row" *ngIf="!isLoading && profile" [class.loading]="pushService.isProcessing$ | async">
              <div class="setting-info">
                <i class="fa fa-bell"></i>
                <div class="text-container">
                  <strong>Notificaciones Push</strong>
                  <span>Avisos importantes</span>
                </div>
              </div>

              <div class="switch-wrapper">
                <!-- Spinner pequeño que solo aparece al cargar -->
                <div *ngIf="pushService.isProcessing$ | async" class="mini-spinner"></div>

                <label class="switch">
                  <input type="checkbox" [disabled]="pushService.isProcessing$ | async"
                    [checked]="pushService.isSubscribed$ | async" (change)="togglePush()">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <!-- configurar notificaciones push -->

            <div class="setting-row">
              <a (click)="logout()">
                <div class="setting-info">
                  <i class="fa fa-power-off"></i>
                  <div class="text-container">
                    <strong>Cerrar Sesión</strong>
                  </div>
                </div>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</section>
<app-menu-footer></app-menu-footer>