<div class="menu-footer">
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li>
            <a routerLink="/favorites" routerLinkActive="active">
                <i class="fa fa-heart"></i>
            </a>
        </li>
        <li>
            <a routerLink="/profile/documents" routerLinkActive="active">
                <i class="fa fa-file"></i>
            </a>
        </li>
        <li>
            <a routerLink="/solicitudes" routerLinkActive="active">
                <i class="fa fa-book"></i>
            </a>
        </li>
        <li>
            <a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-user"></i>
            </a>
        </li>
    </ul>
</div>