<div class="menu-footer">
    <ul>
        <li>
            <a routerLink="/" routerLinkActive="active">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li>
            <a routerLink="/favorites" routerLinkActive="active">
                <i class="fa fa-user"></i>
            </a>
        </li>
        <li>
            <a routerLink="/profile/documents" routerLinkActive="active">
                <i class="fa fa-file fa-search"></i>
            </a>
        </li>
        <li>
            <a routerLink="/wallet" routerLinkActive="active">
                <i class="fa fa-book"></i>
            </a>
        </li>
        <li>
            <a routerLink="/profile" routerLinkActive="active">
                <i class="fa fa-adjust"></i>
            </a>
        </li>
    </ul>
</div>