.home{
    margin-top: 55px;
    padding-bottom: 70px;
    
}


.shadowSearch {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 5px;
    border-radius: 14px;
    box-shadow: 0px 7px 10px #e3e2e2;
    margin-bottom: 30px;
    
    & input[type="search"] {
        border-radius: 0px;
        border: none;
        border-bottom: 1px solid var(--grisclaro);
        padding: 3px;
    }

    & .btn-seach {
        border: none;
        color: var(--red);
    }
}

