<app-header></app-header>
<section class="favorites home " infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2"
  [infiniteScrollThrottle]=" 50" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()"
  [class.refreshing]="isRefreshing">
  <div class="pull-down-indicator" *ngIf="isRefreshing">
    <app-loading></app-loading>
    <p class="text-center">
      {{'Refreshing'|translate}} ...
    </p>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9">
          <app-backButtn [pageTitle]="pageTitle"></app-backButtn>


          <app-loading *ngIf="isLoading"></app-loading>

          <!-- <details class="shadowSearch cuadrosearch">
            <summary class="">{{'Search'|translate}}</summary>
            <summary><h4>{{'Search'|translate}}</h4></summary>
            <form [formGroup]="searchForm" *ngIf="!isLoading" class="d-flex  col-xs-12 ">

              <div class="row search5">
                <div class="col-12 col-md-3">
                  <label class="labelgoogle">
                    <input class="form-control input" formControlName="name_file" type="search" placeholder=" "
                      aria-label="Search">
                    <span class="label__name">
                      {{'Search'|translate}}
                      <i class="fa fa-search" style="margin-left: 10px;"></i>

                    </span>
                  </label>

                </div>

                <div class="col-12 col-md-3">
                  <div class="input-group">
                    <label>{{'formulario.Country'|translate}}  </label>
                    <span class="input-group-text " id="basic-addon1">
                      <i class="fa fa-globe" aria-hidden="true"></i>
                    </span>
                    <select class="form-control" formControlName="pais"  >
                          <option *ngFor="let data of paises" [value]="data.code">
                          {{data.title}}
                          </option>
                      </select>
                  </div>
                </div>

                <div class="col-12 col-sm-3">
                  <div class="input-group">
                    <label>{{'formulario.Speciality'|translate}}</label>
                    <span class="input-group-text " id="basic-addon1">
                      <i class="fa fa-anchor" aria-hidden="true"></i>
                    </span>
                    <select class="form-control" formControlName="speciality_id"  >
                          <option *ngFor="let data of specialities" [value]="data.id">
                          {{data.title}}
                          </option>
                      </select>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="input-group">
                    <label>{{'Rating'|translate}} </label>
                    <span class="input-group-text " id="basic-addon1">
                      <i class="fa fa-diamond" aria-hidden="true"></i>
                    </span>
                    <select class="form-control form-select-solid fw-bolder" formControlName="rating"
                      placeholder="state">
                      <option>-- {{'Select'|translate}} --</option>
                      <option value="1">
                        1 Estrella
                      </option>
                      <option value="2">
                        2 Estrella
                      </option>
                      <option value="3">
                        3 Estrella
                      </option>
                      <option value="4">
                        4 Estrella
                      </option>
                      <option value="5">
                        5 Estrella
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-2 ">
                  <div class="doctor-submit d-flex justify-content-center ">
                    (click)="onSearch()"
                    <button type="button" class="btn btn-primary submit-list-form ">
                      {{'Search'|translate}}
                      <i class="fa fa-search"></i>
                    </button>
                    (click)="PageSize()"
                    <button type="button" class="btn btn-outline-primary submit-list-form ">
                      <i class="fa fa-refresh"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </details> -->



          <div class="carousel-inner-data" *ngIf="!isLoading">
            <div class="post navTabs" *ngIf="specialists.length > 0 else message">
              <div *ngFor="let item of specialists">
                <div class="card border-0 shadow-sm mb-3 ">
                  <div class="group itemFav ">
                    <div class="div1pagocon ">
                      <div class="d-flex  justify-content-between">
                        <div class="inf">
                          <p>{{item.usuario?.username}}</p>
                          <small>{{item.usuario?.email}}</small>
                        </div>
                        <button class="btn btn-outline-primary" (click)="abrirDetalle(item.usuario?.uid)">
                          <i class="fa fa-eye"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <ng-template #message>
              <p>lista vacia</p>
            </ng-template>
            <ng-template *ngIf="isEdnOfList">
              <p>{{loadingTitle}}</p>
            </ng-template>
          </div>

        </div>
        <!-- lateral -->
        <div class="col-xs-12 col-sm-3 col-md-3">
          <app-lateral></app-lateral>

        </div>
      </div>
    </div>
</section>

<!-- OFFCANVAS DETALLE -->
<div class="offcanvas offcanvas-bottom rounded-top-5 h-75" tabindex="-1" id="offcanvasNotif"
  style="height: auto; max-height: 60vh; border-radius: 25px 25px 0 0;">
  <div class="offcanvas-header border-bottom py-3">
    <h5 class="offcanvas-title fw-bold ">Detalle de Perfil</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <app-loading *ngIf="isLoadingFicha"></app-loading>
  <div class="offcanvas-body p-4" *ngIf="usuario_selected && !isLoadingFicha">
    <div class="tarjetacliente">
      <div class="tc_middle">
        <div class="tc_imagem">
          <img *ngIf="profile" [src]="(profile.img || '') | imagenPipe: 'profiles' " alt="">
        </div>

        <div class="tc_info">
          <p>{{'Name'|translate}}: {{profile?.first_name}} {{profile?.last_name}}</p>
          <p>{{'Description'|translate}}: {{ profile?.shortdescription }}</p>
          <app-redessociales [redessociales]="redessociales"></app-redessociales>
         
          <!-- <app-ratingStar *ngIf="profile && user" [profile]="profile"></app-ratingStar> -->
        </div>
      </div>
    </div>
    <div class="tc_actions">
      <!-- si existe la relacion de cliente con el usuario usamos el id del cliente -->
      <div class="btn-group" role="group">
        <button type="button" (click)="deleteContact(usuario_selected)" class="btn btn-danger">
          <i class="fa fa-trash"></i>
        </button>

        <button type="button" (click)="irAespecialista(usuario_selected)" class="btn btn-primary">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
        <button type="button" [routerLink]="['/chat/', usuario_selected]" class="btn btn-success">
          <i class="fa fa-comment" aria-hidden="true"></i>
        </button>

      </div>
    </div>


  </div>

</div>
<app-menu-footer></app-menu-footer>