.stars {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 13px;
    & .fa {
        font-size: 2ch;
    }
    & ul {
        display: inline-flex;
        & li {
            list-style: none;
            color: #ccc
        }
        & li .active {
            color: gold;
        }
    
    }

}

.modal {
    position: fixed;
    top: 110px;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}