<app-header></app-header>

<section class="home">
  <div class="container-fluid">
   <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-9">
    
        <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
        
        <div *ngIf="user.roles[0] === 'MEMBER' || user.roles[0] === 'GUEST'">
          <!-- aviso falta info -->
          <app-aviso></app-aviso>
          <!-- aviso falta info -->
          <!--category name-->
          <app-categoria-horizontal></app-categoria-horizontal>
          <!--category name-->
          <br />

          <!---Slider-->
          <app-slider-horizontal></app-slider-horizontal>
          <!---Slider-->

          <!--list horizontal-->
          <h3>{{'featured'|translate}}</h3>
          <app-list-products-h></app-list-products-h>
          <br>
          <!---list vertical-->
          <!--list products-->
          <h3>{{'recent'|translate}}</h3>
          <app-list-products></app-list-products>

        </div>
        
        <div *ngIf="user.roles[0] === 'SUPERADMIN' || user.roles[0] === 'ADMIN'">
         <app-ListaUsuarios [users]="users"></app-ListaUsuarios>
        </div>
      </div>
      <!-- lateral -->
      <div class="col-xs-12 col-sm-3 col-md-3">
        <app-lateral></app-lateral>
    </div>
    </div>
   </div>
  </div>
</section>



<app-menu-footer></app-menu-footer>
