<app-loading *ngIf="isLoading" [loadingTitle]="loadingTitle"></app-loading>
 <ul class="post" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2"
    [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()"
    [class.refreshing]="isRefreshing">
    <div class="pull-down-indicator" *ngIf="isRefreshing">
      <app-loading></app-loading>
      <p class="text-center">refrescando ...</p>
    </div>
    <li class="group" *ngIf="!isLoading">
      <h3>{{'Especialistas'|translate}}</h3>
      <br>
      <div class="div-group" *ngFor="let item of usuarios">
        <div class="foto">
          <div class="post-date">
            <a [routerLink]="['/especialista/', item.uid]">
              <img [src]="(item.profile?.img|| '') | imagenPipe : 'profiles'" alt="" />
            </a>
          </div>
        </div>
        <div class="info">
          <h2>{{ item.username }}</h2>
          <h3>{{ item.profile?.especialidad?.nombre }}</h3>
          <div class="div1-home">
            <div *ngIf="item.profile?.status === 'VERIFIED'" style="color: gold">
                        <i class="fas fa-trophy"></i>
                      </div>
            <app-ratingStar></app-ratingStar>
          </div>
        </div>
      </div>
    </li>

  </ul>