<app-loading *ngIf="isLoading" [loadingTitle]="loadingTitle"></app-loading>
 <div class="listaespecialista" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2"
    [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()"
    [class.refreshing]="isRefreshing">
    <div class="pull-down-indicator" *ngIf="isRefreshing">
      <app-loading></app-loading>
      <p class="text-center">refrescando ...</p>
    </div>

    <h3 class="mt-3">{{'Especialistas Recientes'|translate}}</h3>
    <div class="group" *ngIf="!isLoading">
      <div class="div-group card shadow-sm" *ngFor="let item of usuarios">
        <div class="foto">
          <a [routerLink]="['/especialista/', item.uid]">
            <img [src]="(item.profile?.img|| '') | imagenPipe : 'profiles'" alt="" />
          </a>
        </div>
        <div class="info">
          <div class="data">
            <h2>{{ item.username }}</h2>
          <h3>{{ item.profile?.especialidad?.nombre }}</h3>
          </div>
          <div class="verif">
            <div *ngIf="item.profile?.status === 'VERIFIED'" style="color: gold">
                        <i class="fas fa-trophy"></i>
                      </div>
            <!-- <app-ratingStar></app-ratingStar> -->
          </div>
        </div>
      </div>
    </div>

  </div>